@import "vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: $bgColor;
}

@import "blocks/container";
@import "blocks/quoteBox";
@import "blocks/buttons";